@mixin inlainer {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onSmalldesktop {
    padding-inline: 54px;
  }

  @include onDesktop {
    padding-inline: 228px;
  }
}

@mixin onBidDeskmenu {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin onSmalldesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  @include inlainer;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onSmalldesktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.calculator-block {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
  }
}

.calculator-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto 10px;
  display: block; 
}

.calculator-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.calculator-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  flex-grow: 1;
}

.calculator-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
  margin-top: auto; /* Кнопка прижата к низу блока */

  &:hover {
    background-color: #0056b3;
  }
}