$colortext:#fff;
$maintext: #6c788b;
$maintitletext: #253757;
$colorbackgraund:#2c2c2c;
$colorbutton:#2060f6;
$colorplace: #c0cdd7;

@mixin inlainer {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onSmalldesktop {
    padding-inline: 54px;
  }

  @include onDesktop {
    padding-inline: 228px;
  }
}

@mixin onBidDeskmenu {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin onSmalldesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.header {
  background-color: $colorbackgraund;
  padding-top: 20px;
  height: 100px;
  width: 100%;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $colortext;

  @include inlainer;

  @include onSmalldesktop {
    padding-top: 48px;
    height: 200px;
  }
}