$colortext: #f0f0f0;
$maintext: #a0aaba;
$maintitletext: #1e2a40;
$colorbackgraund: #1c1c1c;
$colorbutton: #3b82f6;
$colorplace: #8fa1b2;

@mixin inlainer {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onSmalldesktop {
    padding-inline: 54px;
  }

  @include onDesktop {
    padding-inline: 200px;
  }
}

@mixin onBidDeskmenu {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin onSmalldesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.footer {
  font-weight: 400;
  background-color: $colorbackgraund;
  color: $colortext;
  padding: 40px 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contact"
    "divider"
    "credits";
  text-align: center;

  @include inlainer;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "contact contact"
      "divider divider"
      "credits credits";
  }
}

.footer__container {
  display: grid;
  grid-area: contact;
  grid-template-columns: 1fr;
  gap: 20px;

  @include onTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

.footer__contact {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: left;
  gap: 20px;
  width: 100%;

  @include onTablet {
    justify-items: start;
  }
}

.footer__contact__section {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
}

.footer__contact__section__title {
  font-size: 1.1rem;
  color: $colortext;
  margin-bottom: 10px;
}

.footer__contact__section__text {
  font-size: 1rem;
  color: $colortext;
  margin: 5px 0;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: nowrap;

  a {
    color: $colorplace;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__contact__phone, .footer__contact__email, .footer__contact__address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: $colorbutton;
}

.footer__credits {
  margin-top: 20px;
  grid-area: credits;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;

  @media (max-width: 639px) {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
  }

  @include onTablet {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.footer__credits__text {
  font-size: 1rem;
  color: $maintext;
  margin: 5px 0;
}

.footer__credits__link {
  color: $colorplace;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__divider {
  grid-area: divider;
  width: 100%;
  border-top: 1px solid $colorplace;
  margin-top: 20px;
}