.App {
  text-align: center;
}

.main-interface {
  display: grid;
  place-items: center; 
  height: 50vh;  
}

.button {
  margin: 10px 10px; 
  padding: auto;
}

.select {
  margin: 0 10px;
}

.block {
  margin-left: 10px;
}

.font-semibold {
  margin-left: 10px;
}