* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  text-align: center; 
  margin-bottom: 10px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.top-image {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.footer {
  background-color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 100;
}

.footer-image {
  height: 80px;
  width: 100%;
  object-fit: cover;
}

/* Стили для значка 🏗 */
.construction-icon {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: #f0f0f0
}

/* Скрыть элементы по умолчанию */
#additional-elements {
  display: none; /* Изначально скрыто */
}

/* Когда класс "show" добавлен, элементы становятся видимыми */
#additional-elements.show {
  display: block;
}
